{% extends 'base.html.twig' %}

{% block title %}Edit LinkCollection{% endblock %}

{% block body %}
    <h1>Edit LinkCollection</h1>

    {{ include('link_collection/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_link_collection_index') }}">back to list</a>

    {{ include('link_collection/_delete_form.html.twig') }}
{% endblock %}
